<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TinyRadiusServer.Client" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TinyRadiusServer.Services" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TinyRadiusServer.Client>
            <setting name="ClientIPs" serializeAs="String">
                <value>192.168.1.1</value>
            </setting>
            <setting name="ShareKey" serializeAs="String">
                <value>123</value>
            </setting>
        </TinyRadiusServer.Client>
        <TinyRadiusServer.Services>
            <setting name="ListentIP" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>1812</value>
            </setting>
        </TinyRadiusServer.Services>
    </userSettings>
</configuration>