<?xml version="1.0" encoding="utf-8" ?>
<log4net>

  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="c:\\RadiusServiceLog\\service" />
    <appendToFile value="true" />
    <staticLogFileName value="false"/>
    <rollingStyle value="Date" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <datePattern value="yyyyMMdd&quot;.log&quot;" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>

  <appender name="FileAppender_error" type="log4net.Appender.RollingFileAppender">
    <file value="c:\\RadiusServiceLog\\serviceError" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <staticLogFileName value="false"/>
    <datePattern value="yyyyMMdd&quot;.log&quot;" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger (%file:%line)  - %message%n" />
    </layout>

    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="ERROR" />
      <levelMax value="FATAL" />
    </filter>

  </appender>


  <root>
    <level value="All"/>
    <appender-ref ref="LogFileAppender"/>
  </root>

</log4net>